<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head', {title: 'home'}) %>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <hr>
    <div class="content">
      <%- include('partials/login') %>
    </div>
  </body>
</html>